* {
  margin: 0px;
  padding: 0px;
  color: black;
  font-family: "Verdana", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

body {
  background-color: #FFFFFF;
  display: flex;
  overflow: hidden;
}

#maincube {
  border-radius: 20px;
  position: relative;
  width: 260px;
  height: 100px;
  top: 50px;
  left: -50px;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
  z-index: -2;
}

#aboutcube {
  border-radius: 20px;
  position: relative;
  width: 275px;
  height: 250px;
  top: -325px;
  left: 375px;
  background: #9ec09e;
  z-index: -1;
}

#sidebar {
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
  position: fixed;
  width: 150px;
  height: 150px;
  margin: 200px auto;
  background: #475877;
  left: -200px;
  top: -100px;
  transition: 0.5s;
  z-index: 1;
}

#sidebar.active {
  left: 50px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#sidebar ul li {
  top: 200px;
  color: white;
  list-style: none;
  padding: 14px;
}

#sidebar ul li:after {
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  margin-top: 4px;
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}

#sidebar ul li:hover:after { 
  width: 50%;
  left: 25%;
  margin-top: 4px;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 220px;
  top: 20px;
}

#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background: black;
  margin: 5px 30px;
}

#sidebar .toggle-btn:hover {
  opacity: 0.3;
  transition: 0.5s;
}

#sidebar.active .toggle-btn .sidebar-top {
  background: #ec9874;
  width: 35px;
  -webkit-transform: translateY(9px) rotateZ(45deg);
  -moz-transform: translateY(9px) rotateZ(45deg);
  -ms-transform: translateY(9px) rotateZ(45deg);
  -o-transform: translateY(9px) rotateZ(45deg);
  transform: translateY(9px) rotateZ(45deg);
}

#sidebar.active .toggle-btn .sidebar-middle {
  opacity: 0;
}

#sidebar.active .toggle-btn .sidebar-bottom {
  background: #ec9874;
  width: 35px;
  -webkit-transform: translateY(-9px) rotateZ(-45deg);
  -moz-transform: translateY(-9px) rotateZ(-45deg);
  -ms-transform: translateY(-9px) rotateZ(-45deg);
  -o-transform: translateY(-9px) rotateZ(-45deg);
  transform: translateY(-9px) rotateZ(-45deg);
}

#main {
  position: absolute;
  left: 200px;
  top: 200px;
  color: #f5bba9;
  transition: 0.5s;
  animation: fadein 2s;
  z-index: 1;
}

#main.active {
  transition: 1s;
  left: 350px;
}

#name {
  font-size: 20px;
  z-index: 1;
}

#name span:hover {
  font-size: 0;
  color: #fd3b00;
}

#name span:hover:after {
  content: attr(hover-name);
  font-size: 20px;
}

#main a i {
  color: black;
  margin-top: 5px;
  margin-right: 8px;
  position: relative;
  float: left;
  font-size: 25px;
}

#main a i:hover {
  opacity: 0.3;
  transition: 0.2s;
  font-size: 35px;
}

#main p {
  padding-bottom: 7.5px;
}

#about {
  display: none;
  animation: fadein 2s;
  position: absolute;
  left: 200px;
  top: 250px;
  transition: 0.5s;
  font-size: large;
  z-index: 1;
}

#about.active {
  transition: 1s;
  left: 350px;
}

#about p {
  position: relative;
  left: 400px;
  top: -100px;
  z-index: 1;
}

span.after {
  display: none;
}

#about p:hover span.before {
  display: none;
}

#about p:hover span.after {
  display: block;
}

/*https://css-tricks.com/snippets/css/typewriter-effect/*/

.typewriter h1 {
  font-family: "Arial", sans-serif;
  color: black;
  width: 260px;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em;
  /* Adjust as needed */
  animation: typing 1.5s steps(40, end), /*1.5 is the type speed*/
  blink-caret 1s step-end infinite; /*1 is the blink speed*/
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 260px; /* MAKE SAME AS .typewriter h1 WIDTH */
  }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
  from, to {
    border-color: black
  }
  50% {
    border-color: transparent;
  }
}

/* Firefox < 16 */
@-moz-keyframes blink-caret {
  from, to {
    border-color: black
  }
  50% {
    border-color: transparent;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes blink-caret {
  from, to {
    border-color: black
  }
  50% {
    border-color: transparent;
  }
}

/* Internet Explorer */
@-ms-keyframes blink-caret {
  from, to {
    border-color: black
  }
  50% {
    border-color: transparent;
  }
}

/* Opera < 12.1 */
@-o-keyframes blink-caret {
  from, to {
    border-color: black
  }
  50% {
    border-color: transparent;
  }
}

@keyframes blink-caret-white {
  from, to {
    border-color: white
  }
  50% {
    border-color: transparent;
  }
}

/* Firefox < 16 */
@-moz-keyframes blink-caret-white {
  from, to {
    border-color: white
  }
  50% {
    border-color: transparent;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes blink-caret-white {
  from, to {
    border-color: white
  }
  50% {
    border-color: transparent;
  }
}

/* Internet Explorer */
@-ms-keyframes blink-caret-white {
  from, to {
    border-color: white
  }
  50% {
    border-color: transparent;
  }
}

/* Opera < 12.1 */
@-o-keyframes blink-caret-white {
  from, to {
    border-color: white
  }
  50% {
    border-color: transparent;
  }
}

/*https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load*/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*https://codepen.io/MathiasBerwig/pen/GopGVq*/

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -5;
}

/*https://dribbble.com/shots/5041745-Switcher*/

/* a background used instead of body to change background color */

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: -6;
  transition: all 0.5s;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  transition: all 0.5s;
  left: 45px;
  top: 550px;
}

/* a dummy div that allows it to rotate opposite to the label, normally this would be in label:after */

.s {
  position: absolute;
  left: 48px;
  top: 552px;
  width: 21.25px;
  height: 21.25px;
  background: white;
  border-radius: 90px;
  transition: 0.5s;
  transform-origin: 105% 50%;
  /* put the transform origin outside the right of the switch so it rotates perfectly to the other side. spacing looks different on desktop and mobile not sure why. */
  pointer-events: none;
  /* important this makes it so the underlying label can be clicked through the dummy switch */
}

label:hover~.s {
  opacity: 0.7;
  transition: 0.5s;
  background: #5cff5c;
}

/* label rotates clockwise */

input:checked~label {
  transform: rotate(180deg);
}

/* dummy switch goes anti-clockwise */

input:checked~.s {
  transform: rotate(-180deg);
  background: #ce4141;
}

/* can't change the body here so this is why background was created */

input:checked~.background {
  background: #2F3437;
}

input:checked~div #maincube {
  background: linear-gradient(-35deg, #c09999, #9bc2c2);
}

input:checked~#main .typewriter h1 {
  animation: typing 1.5s steps(40, end), /*2 is the type speed*/
  blink-caret-white 1s step-end infinite;
  /*1 is the blink speed*/
}

input:checked~#about .typewriter h1 {
  animation: typing 1.5s steps(40, end), /*2 is the type speed*/
  blink-caret-white 1s step-end infinite;
  /*1 is the blink speed*/
}

input:checked~#sidebar .toggle-btn span {
  transition: 0.5s;
  background: white;
}

input:checked~#main .typewriter h1 {
  color: white;
}

input:checked~#about .typewriter h1 {
  color: white;
}

input:checked~#main p span {
  color: white;
}

input:checked~#main a i {
  transition: 0.5s;
  color: white;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}