:root {
  --main-bg-color: #191919;
  --second-bg-color: #202020;
  --main-text-color: #d4d4d4;
  --scroll-color: #8CC8FF;
  --arrow-color: #F58f70;
  --bg-shade: soft-light;
  --link-color: #8CC8FF;
  --logo-transform: rotate(180deg) scale(1.2);
  --border-color: #282828;
  --name-hover: #d63384;
  --name-shadow: #6d7989;
  --border-outline: #b0c4de;
}

[anthonytedja-data-theme="light"] {
  --main-bg-color: #fff;
  --second-bg-color: #f8f9fa;
  --main-text-color: #212529;
  --scroll-color: #fff;
  --arrow-color: #212529;
  --bg-shade: normal;
  --link-color: #212529;
  --logo-transform: rotate(0deg) scale(1.2);
  --border-color: #dee2e6;
  --name-hover: #ff51a8;
  --name-shadow: #6d7989;
  --border-outline: #b0c4de;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, .9) translateY(0);
  }
  30% {
    transform: scale(.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05, .95) translateY(0);
  }
  65% {
    transform: scale(1, 1) translateY(-7px);
  }
  80% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}

.links {
  transition: all ease 0.2s;
}

@media (hover: hover) {
  .links:hover {
    transform: scale(1.1);
    opacity: 0.9;
    cursor: pointer;
  }
}

.links:active {
  transform: scale(1.1) !important;
  opacity: 0.7;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  font-size: 5px;
  opacity: 0;
}

@media (min-width: 992px) {
  .portfolio-item:hover .caption {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
    opacity: 1;
    transition: all ease 0.2s;
  }
}

@media (min-width: 992px) {
  .portfolio-item:hover .img-fluid {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: all ease 0.2s;
  }
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

@media (min-width: 992px) {
  .portfolio-item .caption .caption-content {
    transition: opacity 1s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border: 4px solid var(--border-color);
  border-radius: 15px;
  transition: all ease 0.2s !important;
}

@media (hover: hover) {
  #logo:hover {
    opacity: 0.5;
    cursor: pointer;
    transform: var(--logo-transform) !important;
  }
}

#logo {
  /*transform: rotate(-360deg);*/
  max-height: 3rem;
  margin-right: 20px;
  transition: all ease 0.5s;
}

@media (hover: hover) {
  #cat:hover {
    cursor: pointer;
  }
}

a {
  color: var(--link-color);
  text-decoration: underline;
  transition: all ease 0.2s;
}

a:hover {
  color: #4fa5f4;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.agent-1, .agent-3 {
  opacity: 0;
  animation: fade-in-right ease 0.4s forwards;
}

.agent-2 {
  transform: scaleX(0);
  transform-origin: left;
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 0.4s;
}

.agent-3 {
  animation-delay: 0.8s;
}

@media (hover: hover) {
  .name > span:hover {
    animation: bounce 1s infinite;
    color: var(--name-hover);
  }
}

.name > span {
  display: inline-block;
  transition: all ease 0.2s;
}

.btn-check:focus + .btn, .btn:focus {
  outline: none;
  box-shadow: none;
}

.name {
  display: inline-block;
}

#projects-row .col-lg-6:nth-child(n + 5) {
  display: none;
}

