a:active {
  opacity: 0.3 !important;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
  from, to {
    border-color: white;
  }
}

@media (min-width: 300px) {
  .masthead {
    background-position: 13% !important;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  font-family: "Courier New", monospace;
}

#logo {
  max-height: 40px;
  margin-right: 15px;
}

.icons:hover {
  transform: scale(1.2);
}

@media (hover: hover) {
  a:hover {
    opacity: 0.5;
    transition: 0.5s;
  }
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: scale(1,1) translateY(0);
  }
  10% {
    transform: scale(1.1,.9) translateY(0);
  }
  30% {
    transform: scale(.9,1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05,.95) translateY(0);
  }
  65% {
    transform: scale(1,1) translateY(-7px);
  }
  80% {
    transform: scale(1,1) translateY(0);
  }
  100% {
    transform: scale(1,1) translateY(0);
  }
}

.col-lg-8 > p {
  padding: 0px 20px;
}

body > section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section > container {
  margin-top: auto;
  margin-bottom: auto;
}

body {
  background-color: #0b0c10;
}

.navbar-shrink {
  background-color: #0b0c10 !important;
  /*border-bottom: none !important;*/
}

